<div class="page-container">
        <div
        fxLayoutAlign="space-between center"
        class="example-toolbar mobile-header"
        fxHide="false"
        fxHide.gt-sm
      >
        <span fxLayout="row wrap" fxLayoutAlign="start center">
          <a>
            <img
               src="assets/images/menu.png"
              (click)="openSideBar()"
              alt=""
              width="22"
              height="22" 
            />
          </a>
          <a class="point">
            <img src="assets/logo/logo.png" width="60" class="ml-5" routerLink="/"  (click)="closeSideBar()"/>
          </a>
        </span>
        <span
          fxLayout="row"
          fxLayoutAlign="end center"     
        >
        <a class="point">
                <img src="assets/images/search.png" width="20" class="ml-5" routerLink="/"/>
        </a>
        <a class="point">
                <img src="assets/images/user.png" width="22" class="ml-5" routerLink="/"/>
        </a>
        <!-- <span style="color: #3f48cc;">Login</span> -->
          <!-- <button class="mobile-register" routerLink="/register" (click)="closeSideBar()">Login</button> -->
          <!-- <button class="mobile-login" (click)="closeSideBar()" target="_blank"><a  href="" class="white-color">LOGIN</a></button> -->
        </span>
      </div>

  <mat-sidenav-container
    (backdropClick)="closebackdrop()" 
    [style.marginTop.px]="mobileQuery.matches ? 50 : 0"
    class="page-container page-sidenav-container"
  >
  <!-- sidenav in mobile start -->

  <mat-sidenav
      [opened]="false"
      mode="over"
      #mainmenu
      position="start"
      [fixedInViewport]="mobileQuery.matches"
      class="mainmenusidenav"
      [autoFocus]="false"
      fixedTopGap="50"
      [disableClose]="true"
    >
      <div fxLayout="row" class="p-18">
        <div fxFlex="85">
          <h3
          class="mobileview-category-title-last"
           routerLink="/about-us"
          (click)="closeSideBar()"
        >
          ABOUT TEAM
        </h3>
          
          <h3
            class="mobileview-category-title-last"
            routerLink="/"
            (click)="closeSideBar()"
          >
            CONTACT US
          </h3>
        </div>
        <div fxFlex="15" class="textright"></div>
      </div>

      <div class="side-footer-position" fxLayout="row wrap">
        <!-- <div fxLayout="row wrap" class="p-18" fxLayoutAlign="center center">
          <div fxFlex="50">
            <a href="https://play.google.com/store/apps/details?id=com.naturalminds" target="_blank"> <img
              src="assets/images/home/GooglePlay_1.png"
              alt="Play store"
              style="width:100%"
              class="image-fluid"
            /></a>
          </div>
          <div fxFlex="50">
            <img
              src="assets/images/home/AppStore_1.png"
              alt="App store"
              style="width:100%"
              class="image-fluid"
            />
          </div>
        </div> -->

        <div
          fxFlex="100"
          fxLayoutAlign="center center"
          class="sidenav-footer"
        >
          <span style="color:#BABABA;font-size:10px;text-align: center;"
            >Copyright © 2020 M&A</span
          >
        </div>
      </div>
    </mat-sidenav>
  <!-- sidenav end -->
    <mat-sidenav-content class="white-background">
      <!-- web header -->
      <div
        fxLayout="row wrap"
        fxShow="false"
        fxShow.gt-sm
       class="web-header"
      >
        <div fxFlex="100">
          <div fxLayout="row wrap" class="mt-15 mr-30 ml-30">
            <div fxFlex="30" fxLayoutAlign="start center">
              <img
                src="assets/logo/logo.png"
                alt=""
                width="120"
                routerLink="/"
                (click)="closeSideBar()"
              />
            </div>
            <div fxFlex="40" fxLayoutAlign="center center">
              <input
                type="text"
                placeholder="Search for business,investors and distributors"
                class="search-input"
              />
            </div>
            <div fxFlex="30" fxLayoutAlign="end center">
              <button type="button" class="register-button">Register</button>
              <button type="button" class="login-button1" routerLink="/login">Login</button>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="center center">
            <span class="menu-item-web" routerLink="/">Home</span>
            <span class="menu-item-web">Business for sale</span>
            <span class="menu-item-web">Investors & Buyers</span>
            <span class="menu-item-web">Franchise</span>
            <span class="menu-item-web">About us</span>
            <span class="menu-item-web">Contact us</span>
          </div>
        </div>
      </div>
    
      <div ngClass.lt-md="mt-0" ngClass.md="mt-90" ngClass.gt-md="mt-90">
      <router-outlet></router-outlet>
    </div>

      <div fxShow="false" class="footer"
      fxShow.gt-sm>
      <div fxLayout="row wrap">
        <div fxFlex="33.3" fxLayoutAlign="start center">
          <small class="mr-15 sansFont f14 point">© 2021 M&A
            </small>
          <!-- <img src="assets/logo/logo.png" width="60" class="ml-5" routerLink="/"  (click)="closeSideBar()"/> -->
        </div>
        <div fxFlex="33.3">

        </div>
        <div fxFlex="33.3" fxLayoutAlign="end center">
        <small class="mr-15 sansFont f14 point">Contact</small>
       <small class="mr-15 sansFont f14 point">Login</small>
       <small class="mr-15 sansFont f14 point">Register</small>
       <small class="mr-15 sansFont f14 point">Help</small>

        </div>
      </div>  
        </div>
    </mat-sidenav-content>

     <!-- footer -->
  </mat-sidenav-container>

</div>



