.page-container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  /* position: absolute; */
}

.page-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
         causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .page-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
         `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.white-background {
  background: #ffffff;
}

.search-input {
  height: 25px;
  width: 100%;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 5px;
}

.register-button {
  border: 1px solid #e20074;
  background: #ffffff;
  padding: 7px 12px 7px 12px;
  border-radius: 5px;
  margin-right: 10px;
  color: #e20074;
  font-size: 16px;
  font-family: sourceSansPro;
}

.login-button1 {
  border: 1px solid #e20074;
  background: #e20074;
  padding: 7px 12px 7px 12px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  font-family: sourceSansPro;
}

/* web-menu */
.menu-item-web {
  color: #000000;
  padding: 8px 10px;
  cursor: pointer;
  font-size: 16px;
  font-family: sourceSansPro;
}

.menu-item-web:hover {
  color: #3f48cc;
}

/* header */

.header {
  height: 90px;
  /* padding-right: 4rem; */
  /* padding-left: 4rem; */
  background: #ffffff;
  /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); */
}

.web-header {
  /* width:100%;
  position: fixed;
  z-index: 9;
  border-bottom: 1px solid #f5f4f4;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); */
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  height: 90px;
  max-width: 1920px !important;
}

/* mobile view  */

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
  border-bottom: 1px solid #f5f4f4;
}

.mobile-header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1001;
  border-bottom: 1px solid #f2f2f2;
  background: #ffffff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  height: 50px;
  padding: 5px;
}

.mobile-icons a {
  justify-content: center;
  width: 50px;
  align-content: center;
  display: grid;
}

.mobile-register {
  background: #ffffff;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  color: #3f48cc;
  margin-right: 5px;
  border: 1px solid #3f48cc;
  font-size: 12px;
  margin-top: -5px;
}

.mobile-login {
  background: #3f48cc;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  color: #ffffff;
  margin-right: 10px;
  border: 1px solid #3f48cc;
  font-size: 12px;
  margin-top: -5px;
}

.white-color {
  color: #ffffff !important;
  cursor: pointer;
}

/* mobile sidenav */

.mainmenusidenav {
  width: 60%;
  left: 0px;
  z-index: 999999;
}

.mobileview-category-title-last {
  font-size: 14px !important;
  color: black;
  margin: 0px 0px 5px 0px !important;
  outline: none;
  font-family: sourceSansPro;
  margin-top: 32px;
}

.sidenav-footer {
  padding: 0px 18px 18px 18px;
  font-family: sourceSansPro;
}

.side-footer-position {
  position: absolute;
  bottom: 0px;
}

/*Footer CSS*/

.footer {
  height: 20px;
  /* background-color: #3f48cc0a; */
  background-color: #ffffff;
  padding: 10px;
  border-top: 1px solid #0000001c;
  /* 
  position: absolute;
  bottom: 0px;
  width: 100%; */
}
