<div fxLayout="row wrap" fxLayoutAlign="center center" class="mt-30 p-20">
  <h1 class="centered">Login</h1>
</div>

<form autocomplete="off">
<div
  fxLayout.lt-md="column wrap"
  fxLayout.md="row wrap"
  fxLayout.gt-md="row wrap"
  class="p-20"
>
  <div fxFlex.lt-md="100" fxFlex.md="33.3" fxFlex.gt-md="33.3"></div>

  <div fxFlex.lt-md="100" fxFlex.md="33.3" fxFlex.gt-md="33.3">
      <div fxLayout="column wrap">
          <label>Username *</label>
          <input type="text" />
      </div>

      <div fxLayout="column wrap" class="mb-20">
          <label>Password *</label>
          <input type="text" />
          <small routerLink="/forgotPassword">
            Forgot password?
          </small>
      </div>
      <div fxLayout="column wrap">
        <button type="submit" class="login-button">
          login
        </button>
        <small class="note-text mt-20">
          New user?
          <span routerLink="/registration" class="small-link-black">
            Create account
          </span>
        </small>
      </div>
  </div>

  <div fxFlex.lt-md="100" fxFlex.md="33.3" fxFlex.gt-md="33.3"></div>
</div>
</form>

<div
  style="height:200px;"
  fxLayout="row wrap"
  ngClass.md="mt-100"
  ngClass.gt-md="mt-100"
></div>
