.image-fluid {
    max-width: 100%;
    height: auto;
  }

  .centered-align-why{
    width: 630px;
    text-align: center;
    padding: 10px;
    font-family: sourceSansPro !important;
    font-size:18px;
  }

  h2{
      font-size:20px;
      font-family: crimsonText !important;
  }

  .pre-approve-heading{
    font-size: 20px;
    font-family: crimsonText !important;
    margin-bottom: 0px !important;
    text-align: center;
  }

  .pre-approve-text{
    text-align: center;
    line-height: 1.5;
    padding: 0 25px;
    margin: .56em 0;
    font-size: 16px;
    font-family:sourceSansPro !important;
  }

.mr{
  margin: .56em 0;
}

.mr-pr{
  padding: 0 25px;
  margin: .56em 0;

}
