<div fxLayout="row wrap">
  <img src="assets/images/banner.jpg" alt="" width="100%" class="image-fluid" />
</div>

<div class="mt-30">
  <div fxLayout="row wrap" fxLayoutAlign="center center" class="mt-30 p-20">
    <h1 class="centered">Why Mergers & Acquisitions?</h1>
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <h3 class="centered-align-why">
      59,500+ pre-screened businesses and investors from 900+ industries, 170+
      countries, investment size from ANG 30 thousand to 100 million
    </h3>
  </div>

  <div
    fxLayout.lt-sm="column wrap"
    fxLayout.sm="row wrap"
    fxLayout.gt-sm="row wrap"
    fxLayoutAlign="center center"
    class="p-20"
  >
    <div fxFlex="25" fxLayoutAlign="center center">
      <div fxLayout="column wrap" fxLayoutAlign="center center">
        <img src="assets/images/home/approve1.png" alt="" width="50" />
        <h2 class="pre-approve-heading"><strong>Pre-approved </strong></h2>
        <p class="pre-approve-text">
          Every business, investor, buyer and advisor profile on SMERGERS is
          pre-screened by our analysts
        </p>
      </div>
    </div>

    <div fxFlex="25" fxLayoutAlign="center center">
      <div fxLayout="column wrap" fxLayoutAlign="center center">
        <img src="assets/images/home/confidential1.png" alt="" width="50" />
        <h2 class="pre-approve-heading"><strong>Confidential </strong></h2>
        <p class="pre-approve-text">
          Your privacy is of utmost importance to us. Selectively disclose
          identity to interested and genuine parties
        </p>
      </div>
    </div>

    <div fxFlex="25" fxLayoutAlign="center center">
      <div fxLayout="column wrap" fxLayoutAlign="center center">
        <img src="assets/images/home/valuation1.png" alt="" width="50" />
        <h2 class="pre-approve-heading"><strong>Fair Valuation </strong></h2>
        <p class="pre-approve-text">
          Compare and benchmark your business with 100s of private companies in
          your location from the same industry
        </p>
      </div>
    </div>

    <div fxFlex="25" fxLayoutAlign="center center">
      <div fxLayout="column wrap" fxLayoutAlign="center center">
        <img src="assets/images/home/globe1.png" alt="" width="50" />
        <h2 class="pre-approve-heading"><strong>Global Network </strong></h2>
        <p class="pre-approve-text">
          Connect with businesses, investors, franchises, buyers and financial
          advisors across the globe
        </p>
      </div>
    </div>
  </div>
</div>

<div class="mt-30 light-blue p-20 mb-30">
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <h1 class="centered">Get Started</h1>
  </div>

  <div
    fxLayout.lt-sm="column wrap"
    fxLayout.sm="row wrap"
    fxLayout.gt-sm="row wrap"
    fxLayoutAlign="center center"
  >
    <div fxFlex="33.3">
      <div fxLayout="column wrap" fxLayoutAlign="center center">
        <p class="mr-pr sansFont">Selling your business or seeking funds?</p>
        <button class="create-button green-color mr sansFont">
          Create business Profile
        </button>
      </div>
    </div>
    <div fxFlex="33.3">
      <div fxLayout="column wrap" fxLayoutAlign="center center">
        <p class="mr-pr sansFont">Looking to franchise or grow your brand?</p>
        <button class="create-button light-yellow mr sansFont">
          Create Franchise Profile
        </button>
      </div>
    </div>
    <div fxFlex="33.3">
      <div fxLayout="column wrap" fxLayoutAlign="center center" class="mr">
        <p class="mr-pr sansFont">
          Are you an Investor, Buyer, Advisor or Lender?
        </p>
        <button class="create-button light-blue-color mr sansFont">
          Create Franchise Profile
        </button>
      </div>
    </div>
  </div>
</div>

<!-- <div style="height:300px;"></div> -->
