/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: sourceSansPro !important;
}

.max-layout {
  max-width: 1920px !important;
  background: #ffffff;
  margin: 0 auto !important;
  min-height:100%;
  position:relative;
}


@font-face {
	font-family: sourceSansPro;
	src: url("assets/font/SourceSansPro-Regular.ttf");
}

@font-face {
	font-family: crimsonText;
	src: url("assets/font/CrimsonText-Bold.ttf");
}

.crimsonFont{
  font-family: crimsonText !important;
}

.sansFont{
  font-family: sourceSansPro !important;

}

@font-face {
	font-family: roboto;
	src: url("assets/font/roboto/Roboto-Regular.ttf");
}

@font-face {
	font-family: montserrat;
	src: url("assets/font/montserrat/Montserrat-Bold.ttf");
}



.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(255, 255, 255, 0.6) !important;
}


/* margins */
.mt-10 {
    margin-top: 10px !important;
  }

.mt-15 {
  margin-top: 15px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.ml-5 {
    margin-left: 5px !important;
  }

.ml-30 {
  margin-left: 30px !important;
}

.mr-15 {
    margin-right: 15px !important;
  }

.mr-30 {
  margin-right: 30px !important;
}

.mb-20{
  margin-bottom:20px !important;
}

.mb-30{
  margin-bottom:30px !important;
}

.mt-90{
  margin-top:90px !important;
}

.mt-0{
  margin-top:0px !important;
}

/* padding */

.pt-15 {
    padding-top: 15px !important;
  }
  
  .pl-30 {
    padding-left: 30px !important;
  }
  
  .pr-30 {
    padding-right: 30px !important;
  }

  .p-18 {
    padding: 18px !important;
  }

  .p-20 {
    padding: 20px !important;
  }


  /* outline */

  img{
      outline: none;
  }

  input,button,a, span, p{
      outline: none;
  }

  input {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #000000;
    margin-bottom: 8px;
  }

  /* heading */
  h1{
    font-size:25px !important;
    font-family: crimsonText !important;
    margin-bottom: 0px !important;
  }

  h3{
    font-size:18px !important;
  }


  /* paragraph */
  
  p,label{
    font-size:16px;
    font-family:sourceSansPro;
  }

  /* font */

  .f14{
    font-size: 14px !important;
  }


  .point{
    cursor: pointer;
  }

  .light-blue{
    background: #3f48cc0a;
  }

  .create-button{
    font-size: 16px;
    padding: 10px 25px;
    width: 80%;
    cursor: pointer;
    outline:none;
    color:#ffffff;
    border-radius:5px;
    font-family: sourceSansPro !important;
  }

  .login-button{
    font-size: 16px;
    padding: 10px 25px;
    width: 100%;
    cursor: pointer;
    outline:none;
    color:#ffffff;
    border-radius:5px;
    font-family: sourceSansPro !important;
    background: #cccc3f;
    border: 1px solid #cccc3f;
  }

  .green-color{
    background: #5cb85c;
    border:1px solid #5cb85c;
  }

  .light-yellow{
    background: #cccc3f;
    border: 1px solid #cccc3f;
  }

  .light-blue-color{
    /* background: #a4a8e7; */
    /* border: 1px solid #a4a8e7; */
  background: #868ce6; 
  border: 1px solid #868ce6;
  }

  .centered{
    text-align:center !important;
  }

  